# OS
.DS_Store
Thumbs.db

# IDEs & build
.buildpath
.project
.settings/
.phpcq/build
.build/
.external*/
.idea/
nbproject/
.phpunit.result.cache

# symfony related
var
.env*.local
# composer related
vendor/
